.product-list {
  padding: 2rem 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-list .product-list-item {
  flex: 0 0 50%;
  text-align: justify;
  padding-right: 2rem;
}

.product-list .product-list-item .product-title {
  font-size: 1.5rem;
  color: #52d3aa;
  font-weight: 600;
  margin-bottom: 1.45rem;
  display: block;
}

@media screen and (max-width: 992px) {
  .product-list .product-list-item {
    flex: 0 0 100%;
  }
}
