.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.container .row {
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
  padding: 2rem;
}

.container .row > div {
  flex: 0 0 100%;
  max-width: 100%;
}

.text-center {
  text-align: center !important;
}

.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
